include mixins/index
doctype html
html(lang="en")
  block vars
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@500&display=swap" rel="stylesheet")
    link(rel="stylesheet" charset="utf-8" media="screen" type="text/css" href=assetURL("css/styles.css"))

  body(class=pageID)
    block header
    block content
    block footer
    
    script(src="https://code.jquery.com/jquery-3.5.1.min.js" async='false')
    script(src=assetURL("js/pages/product.js"))
    //- script(src=assetURL("js/main-bundle.js") async)
    block eod
