extends partials/layout

block vars
  - const title = 'Amazon Crawl';
  - const pageID = 'product';

block eod
  script
    +loadModule('pages/product.js')

block content
  main
    if error
      p Ups there is an error, try again
      p= error
    else
      div(class="product-page")
        section(class="container")
          div(class="porduct-img")
            img(src=product.mainImage)
          div(class="product-info")
            h1= product.name
            h2= product.price
            p= product.description
