extends partials/layout

block vars
  - const title = 'Amazon Crawl';
  - const pageID = 'index';

block eod
  script
    +loadModule('pages/index.js')

block content
  div(id="index-wrapper")
    main
      div(class="index-page")
        section(class="container")
          div(class="logo-div")
            img(src=assetURL("img/proxycrawl.png") class="logo")
          div(class="box")
            form(method="POST" action="/product")
              div(class="input-wrapper")
                div
                  span Token
                  input(name="token" type="text" placeholder="Get your token from proxycrawl.com")
                div
                  span(class="url") URL
                    img(src=assetURL("img/amazon-icon.png"))
                  input(name="url" type="text" placeholder="Amazon product URL")
              input(type="submit" class="btn draw-border")


