extends partials/layout

block vars
  - const title = 'Amazon Crawl';
  - const pageID = 'product';

block eod
  script
    +loadModule('pages/product.js')

block content
  main
    if error
      div(class='error-cont')
        div(class="error")
          p Ups there is an error, try again
          p= error
    else
      div(class="product-page")
        section(class="container")
          div(class="product-img")
            img(src=product.mainImage)
            div(class="thumbnails")
              div(class="thumb-wrapper")
                img(src=product.mainImage)
              each thumbnail, index in product.images
                if index < 5
                  div(class="thumb-wrapper")
                    img(src=thumbnail)
          div(class="product-info")
            h1= product.name
            h2= product.price
            if product.inStock
              small(class="in-stock") In Stock
            else 
              small(class="out-stock") Out of Stock
            p= product.description
            ul Features
            each feature in product.features
              li= feature
            div(class="powered")
              p powered by
              img(src=assetURL("img/proxycrawl.png"))


