$bg: #222a41;
$main-blue: #69A3D1;
$light-blue: #8892AF;
$dark-blue: #55679D;
$white: #fff;
$font-open-sans: 'Open Sans',
sans-serif;
$font-raleway: 'Raleway',
sans-serif;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#index-wrapper {
    background-color: $bg;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $font-open-sans;
    height: 100vh;
    max-height: 100vh;

    div {
        small {
            padding-top: 10px;
            display: inline-block;
            color: grey;
        }
    }
}

.index-page {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        border-radius: 25px;
        max-width: 70%;
        min-width: 70%;
    }
}

.container {
    background-color: $white;
    margin: 0 auto;
    max-width: 80%;
    min-width: 80%;
}

.box {
    margin: 7vmin 0 7vmin;
}

.logo {
    padding: 4vmin 0 4vmin;
    display: block;
    text-align: center;
    width: 180px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

form {
    width: 80%;
    margin: 0 auto;

    .input-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        div {
            margin-bottom: 40px;
        }
    }

    div {
        width: 100%;
    }

    span {
        display: inline-block;
        font-family: $font-raleway;
        font-weight: bold;
        min-width: 50px;
        color: $bg;
        margin-bottom: 10px;
    }

    .url {
        line-height: 40px;
        display: flex;

        img {
            width: 40px;
            margin-left: 10px;
        }
    }

    input[type="text"] {
        border: none;
        border-radius: 25px;
        background-color: #EFEFEF;
        height: 30px;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        transition: padding 0.1s;

        &::placeholder {
            color: #cecece;
        }

        &:focus {
            box-shadow: inset 0px 0px 0px 2px $main-blue;
            outline: none;
        }
    }

    input[type="submit"] {
        background: none;
        color: $main-blue;
        border: 2px solid $main-blue;
        font: $font-raleway;
        font-weight: bold;
        letter-spacing: 1px;
        margin: 0.5em;
        padding: 1em 2em;
        width: 120px;
        border-radius: 25px;
        transition: all 0.3s;
        cursor: pointer;
        margin-left: calc(100% - 120px);

        &:hover {
            background-color: $main-blue;
            color: $white;
        }
        &:focus {
            outline: none;
        }
    }
}
