.product-page {
    margin: 7vmin 0 7vmin;

    .container {
        max-width: 90%;
        min-width: 90%;
        display: flex;
        flex-wrap: wrap;
    }

    .product-info {
        margin-top: 100px;
        width: 100%;
    }

    .product-img {
        width: 100%;
        max-width: 100%;
        max-height: 350px;

        img {
            width: 350px;
            height: auto;
            display: block;
            margin: 0 auto;
            object-fit: contain;
            object-position: center;
        }
    }

    .thumbnails {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 5vmin;
        margin: 0 auto;
        width: 100%;
        max-width: 400px;

        .thumb-wrapper {
            width: 50px;
            height: 50px;
            border: 2px solid $dark-blue;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            cursor: pointer;
            margin: 0 auto;
            max-width: 50px;
            max-height: 50px;
        }
    }

    p,
    li {
        color: grey;
        line-height: 22px;
        font-family: $font-open-sans;
    }

    ul {
        padding: 0;
        font-family: 'Raleway';
        font-weight: bold;
        font-size: 18px;
        color: $dark-blue;
    }

    li {
        font-size: 14px;
        margin-bottom: 12px;
    }

    .in-stock,
    .out-stock {
        text-align: center;
        color: $white;
        line-height: 50px;
        width: 100px;
        font-family: $font-raleway;
        font-weight: bold;
        display: inline-block;
    }

    .in-stock {
        background-color: #96D800;
    }

    .out-stock {
        background-color: #F61F1F;
    }

    .powered {
        padding: 7vmin 0 7vmin;
        display: flex;
        text-align: right;
        justify-content: flex-end;

        p {
            margin-top: 20px;
            font-size: 12px;
        }

        img {
            max-width: 150px;
            margin-left: 10px;
        }
    }
}

h1,
h2 {
    font-family: $font-raleway;
    padding-bottom: 15px;
    color: $dark-blue;
}

h2 {
    text-align: right;
}
