@import "pages/index.scss";
@import "pages/product.scss";

.error-cont {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .error {
        border-radius: 25px;
        background-color: #F5CC56;
        width: 80%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    p {
        text-align: center;
        font-family: $font-raleway;
        color: $dark-blue;
        font-size: 20px;

        &:last-child {
            width: 80%;
        }
    }
}

@media (min-width: 768px) {
    .thumbnails {
        width: 60%;
    }
}

@media (min-width: 992px) {
    .index-page .container {
        display: flex;
        align-items: center;
    }

    .logo-div {
        min-width: 40%;
    }

    .logo {
        width: 250px;
        padding: 7vmin 0 7vmin;
    }

    .box {
        width: 100%;
        border-left: 2px solid $light-blue;
        margin: 15vmin 0 15vmin;
    }

    form {
        width: 60%;
    }

    .product-page {

        .container {
            flex-wrap: nowrap;
            max-width: 80%;
            min-width: 80%;
        }

        .product-info {
            margin-top: 0;
        }

        .product-img {
            min-width: 400px;
            max-width: 400px;
            width: 400px;
            margin-right: 50px;

            img {
                width: 400px;
                height: 400px;
                display: block;
                margin: 0 auto;
            }
        }

        .thumbnails {
            width: 100%;
        }
    }

    .error-cont {
        .error {
            width: 50%;
        }
    }
}
